body {
	margin: 0 auto;
	max-width: 1200px;
	font-family: Helvetica,Arial;
	background-color: #F7F7F7;
}

#wrapper {
	z-index: 0;
	margin: 0 4% 2%;
	padding: 1rem;
}
a{
	text-decoration: none;
}
p{
	text-align: justify;
}
header h1{
	font-size: 4rem;
	font-weight: 100;
	margin-bottom: 10px;
}

ul.tech {
	list-style-type: none;
	padding: 0;
	margin: 0 0 .6rem;
	float: right;
	font-size: 2rem;
}

	ul.tech li {
		display: inline-block;
		background-color: #a9a9a9;
		border: 2px solid #a9a9a9;
		border-radius: 6px;
		margin-right: 5px;
		margin-top: 5px;
		color: #fff;
		padding: 0 4px;
	}

.github{
	width: 9.5rem;
	margin: 0 auto;
}
	.github img{
		width: 27%;
		max-width: 50px;
		height: auto;
	}
	.github p{
		color: black;
		font-weight: bold;
	}
	.github a:hover p{
		color:#4078c0;
	}	
	
.octicon-mark-github{
	margin-right: 10px;
}

.images{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

	.images div{
		height: 15rem;
		width: auto;
		overflow: hidden;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: 1rem;
		box-shadow: 4px 4px 10px #aaa;
	}
	.images img{
		height: 100%;
		cursor: pointer;
	}
	

.code{
	background:#F8F8FF;
	border:black dashed 1px;
	padding:6px;
	white-space: pre-wrap;
	word-break:break-all;
}
.clr{
	clear: both;
}

@media only screen and (max-width: 768px) {
	header h1 {
		font-size: 3rem;
	}

}
