	img{
		cursor: pointer;
	}
	#concept p{
		float: left;
	}
	#concept img{
		float: right;
		width: 8rem;
		margin-left: 0.6rem;
		box-shadow: 4px 4px 10px #aaa;

	}
	
	/* Media Queries */
@media only screen and (max-width: 640px) {

	.images div{
		height: auto;
		width: auto;
		align-items: center;
	}
	.images img{
		max-width:100%;
		height: auto;
	}
	

}